* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .nav-bar a:hover {
  color: yellow !important;
} */

.animate-number {
  animation: fadeInUp 0.8s ease-in-out !important;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
